* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
	scroll-behavior: smooth;
}
body,
html {
	min-width: 280px;
	margin: 0;
	padding: 0;
	color: #fff4f4;
	font-family: 'Epilogue', sans-serif;
}
html{
	background-image:  linear-gradient(135deg, rgb(17, 17, 17) 25%, transparent 25%), linear-gradient(225deg, rgb(17, 17, 17) 25%, transparent 25%), linear-gradient(45deg, rgb(17, 17, 17) 25%, transparent 25%), linear-gradient(315deg, rgb(17, 17, 17) 25%, rgb(2, 2, 2) 25%);
	background-position:  5px 0, 5px 0, 0 0, 0 0;
	background-size: 5px 5px;
	background-repeat: repeat;
	background-color: rgb(17, 17, 17);
}
body{
	overflow-x: hidden;
	background-image:  linear-gradient(135deg, rgb(17, 17, 17) 25%, transparent 25%), linear-gradient(225deg, rgb(17, 17, 17) 25%, transparent 25%), linear-gradient(45deg, rgb(17, 17, 17) 25%, transparent 25%), linear-gradient(315deg, rgb(17, 17, 17) 25%, rgb(2, 2, 2) 25%);
	background-position:  5px 0, 5px 0, 0 0, 0 0;
	background-size: 5px 5px;
	background-repeat: repeat;
	background-attachment: fixed;
}
nav{
	top: 0;
	width: 100%;
    position: fixed;
    z-index: 9999;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	opacity: 0.9;
	background-image:  linear-gradient(135deg, rgb(17, 17, 17) 25%, transparent 25%), linear-gradient(225deg, rgb(17, 17, 17) 25%, transparent 25%), linear-gradient(45deg, rgb(17, 17, 17) 25%, transparent 25%), linear-gradient(315deg, rgb(17, 17, 17) 25%, rgb(2, 2, 2) 25%);
	background-position:  5px 0, 5px 0, 0 0, 0 0;
	background-size: 5px 5px;
	background-repeat: repeat;
}

.company{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 25px 50px;
	transition: all 200ms ease-in-out;

}
.nav-title{
	font-size: 20px;
	margin: 0;
	letter-spacing: 0.5px;
	text-decoration: none;
	color: #fff4f4;
	transition: color 200ms ease-in-out;
	cursor: pointer;
}
.nav-logo{
	width: 50px;
	height: 50px;
	margin-right: 10px;
	padding: 2px;
	cursor: pointer;
}

.nav-title:hover{
	color: #ad2224;
}
.menu{
	display: flex;
	flex-direction: row;
	padding: 25px 70px;
	font-size: 16px;
	letter-spacing: 1px;
}
.menu-item{
	margin: 0 15px;
	padding: 15px;
	transition: color 100ms ease-in-out;
	border: 1px solid #fff4f4;
	cursor: pointer;
	position: relative;
	transition: color 200ms ease-in-out, border 100ms ease-in-out;
}
.menu-item:hover > .menu-link{
	color: #ad2224;
}
.menu-item:hover{
	border: 1px solid #ad2224;
	box-shadow: 0px 0px 10px 2px rgba(173, 34, 36, 0.2);
}
.sub-item:hover > .sub-link{
	color: #ad2224;
}
.menu-link{
	color: #fff4f4;
	text-decoration: none;
}
.sub-menu{
    margin: 0;
	padding: 20px 0 5px 0;
	list-style: none;
    display: flex;
    flex-flow: column;
	position: absolute;
	top: 45px;
	left: 0;
	transform: translateY(-2em);
	z-index: -1;
	transition: all 0.2s ease-in-out, visibility 0.1s ease-in-out;
}
.sub-item{
	padding: 5px 0;
	width: 100%;
}
.sub-link{
	color: #fff4f4;
	text-decoration: none;
	display: inline-block;
	white-space: nowrap ;
	transition: color 200ms ease-in-out;
}
.active-sub {
	visibility: visible;
	opacity: 1;
	z-index: 1;
	transform: translateY(0);
	transition-delay: 0s, 0s, 0.3s;
}
.hide-sub {
	visibility: hidden;
	opacity: 0;
	transform: translateY(-2em);
	transition: all 0.2s ease-in-out, visibility 0.1s ease-in-out;
}

.hero{
	width: 100%;
	height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: column;
}
.hero-container{
	width: 55%;
	display: flex;
}
.image-container{
	width: 45%;
}
.hero-logo{
	width: 90%;
	border-radius: 50%;
	padding: 10px;

}
.text-container{
	width: 55%;
	display: flex;
	margin-left: 50px;
	flex-direction: column;
	justify-content: center;
}
.hero-title{
	margin-top: 0;
	margin-bottom: 1em;
	font-size: 42px;
	color: #ad2224;
}
hr{
    width : 70px;
	margin: 0;
}
.description{
	margin: 1.5em 0;
	font-size: 20px;
	letter-spacing: 0.5px;
	line-height: 2rem;
}
.screenplay p{
	font-weight: 300;
}
.learn-more-button{
	width: fit-content;
    padding: 18px;
    transition: color 100ms ease-in-out;
    border: 1px solid #fff4f4;
	color: #fff4f4;
	background-color: transparent;
	font-family: 'Epilogue', sans-serif;
	font-size: 16px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
	letter-spacing: 2px;
	
}
.learn-more-button:hover{
	color: #ad2224;
	border: 1px solid #ad2224;
	box-shadow: 0px 0px 15px 2px rgba(173, 34, 36, 0.20);
}

.hero-menu{
	display: flex;
	flex-direction: row;
	position: absolute;
}
.hero-link{
	color: #fff4f4;
	padding: 0 15px;
	transition: all 200ms ease-in-out;
	font-size: 14px;
	letter-spacing: 5px;
	white-space: nowrap;
}
.hero-link:hover{
	color: #ad2224;
}

.section-header{
	padding-top: 30px;
	text-align: center;
	font-size: 42px;
	color: #ad2224;
}
.section-hr{
	width: 120px;
	margin-bottom: 100px;
}
.main-section{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.films{
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.film{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 100px;
	width: 100%;
}

.poster-container{
	width: fit-content;
	max-width: 350px;
}
.poster{
	height: 100%;
	width: 100%;
	transition: all 200ms ease-in-out;
	box-shadow: 0px 0px 20px 2px rgba(173, 34, 36, 0.25);
}
.poster:hover{
	box-shadow: 0px 0px 25px 5px rgba(173, 34, 36, 0.4);
}
.film-info{
	width: 35%;
}
.film-info:nth-child(even){
	margin-left: 100px;
}
.film-info:nth-child(odd){
	margin-right: 100px;
}
.film-info p{
	font-weight: 300;
}
.crew-link{
	cursor: pointer;
	color: #fff4f4;
	text-decoration: none;
	transition: color 200ms ease-in-out;
	font-weight: bold;
}
.crew-link:hover{
	color: #ad2224;
}
.title{
	margin-top: 0;
	margin-bottom: 1em;
	font-size: 34px;
	color: #ad2224;
	text-decoration: none;
	transition: color 200ms ease-in-out;
}
.title:hover{
	color: #cc2e31;
}
.film-hr{
	margin-bottom: 20px;
}
.film-info .description{
	margin-top: 0;
	margin-bottom: 15px;
	font-size: 18px;
}
.film-info a{
	text-decoration: none;
}
.film-buttons{
	display: flex;
	flex-direction: row;
	margin-top: 30px;
}

.film-button{
	width: fit-content;
    padding: 20px;
    transition: color 100ms ease-in-out;
    border: 1px solid #fff4f4;
	color: #fff4f4;
	background-color: transparent;
	font-family: 'Epilogue', sans-serif;
	font-size: 16px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
	letter-spacing: 2px;
	margin-right: 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.film-button:nth-child(even){
	margin-right: 0;
}
.film-button:hover{
	color: #ad2224;
	border: 1px solid #ad2224;
	box-shadow: 0px 0px 15px 2px rgba(173, 34, 36, 0.2);
}


.left-circle, .fa-twitter, .fa-envelope, .fa-code, .fa-youtube, .fa-file-pdf{
	margin-left: 5px;
}
.fa-circle{
	margin-right: -4px;
}



.screenplays{
	width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.screenplays .section-hr{
	margin-bottom: 50px;
}
.screenplays-container{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 50px;
}
.screenplays-container:nth-last-child(){
	margin-right: auto
}
.screenplay, .team-member{ 
	margin: 5% 4%; 
	width: 42%;
}
.screenplay a, .team-member a{
	text-decoration: none;
}
.screenplay .title{
	height: 65px;
}
.italic{
	font-style: italic;
}
.screenplay:nth-child(1) > .italic, .screenplay:nth-child(2) > .italic{
	height: 160px;
}
.screenplay:nth-child(3) > .italic, .screenplay:nth-child(4) > .italic{
	height: 100px;
}
.screenplay:nth-child(5) > .italic, .screenplay:nth-child(6) > .italic{
	height: 120px;
}
.screenplay:nth-child(7) > .italic, .screenplay:nth-child(8) > .italic{
	height: 120px;
}
.screenplay:nth-child(9) > .italic, .screenplay:nth-child(10) > .italic{
	height: auto;
}

.disabled{
	border: 1px solid #837d7d;
	color: #837d7d;
}
.disabled:hover{
	border: 1px solid #837d7d;
	color: #837d7d;
	cursor: not-allowed;
	box-shadow: none;
}

.menu-item-gap{
	margin-bottom: 130px !important;
}



.reviews{
	width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
	margin-bottom: 100px;
}
.review{
	width: 100%;
	display: flex;
}
.review-poster{
	width: 100%;
	height: auto;
	box-shadow: 0px 0px 20px 3px rgba(173, 34, 36, 0.25);
	transition: all 200ms ease-in-out;
	background-image: url("./images/placeholder-poster-sm.png");
}
.review-poster:hover{
	box-shadow: 0px 0px 20px 5px rgba(173, 34, 36, 0.3);
}
.review-info{
	margin-left: 25px;
	width: 50%;
}
.review-info a{
	text-decoration: none;
	color: #fff4f4;
	transition: color 200ms ease-in-out;
}
.review-info a:hover{
	color: #ad2224;
}

.review-info .title{
	margin-bottom: 0.5em;
}
.review-author{
	margin: 1em 0;
	font-weight: 300;
}

.review-text{
	display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
	margin: 1em 0;
	font-style: italic;
}
.reviews-container .film:nth-child(odd){
	margin-bottom: 50px;
}
.reviews-container .film:nth-child(even){
	margin-bottom: 0px;
}

.members{
	width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.members .section-hr{
	margin-bottom: 25px;
}
.members-container{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 50px;
}
.members-container:nth-last-child(){
	margin-right: auto
}
.team-member{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.team-member p{
	font-weight: bold;
}
.team-member .image-container{
	width: fit-content;
    margin-bottom: 25px;
	border-radius: 50%;
}
.member-image{
    height: 200px;
    width: 200px;
	object-fit: cover;
	border-radius: 50%;
	box-shadow: 0px 0px 20px 3px rgba(173, 34, 36, 0.25);
	transition: all 200ms ease-in-out;
}
.member-image:hover{
	box-shadow: 0px 0px 20px 5px rgba(173, 34, 36, 0.3);
}
.member-description{
	display: flex;
	flex-direction: column;
}
.member-description .film-hr{
	margin-right: auto;
	margin-left: auto;
}
.member-description .description{
	margin: 0.5em 0;
}
.team-member:nth-child(1) .member-description > i, .team-member:nth-child(2) .member-description > i{
	height: 150px;
}
.team-member:nth-child(3) .member-description > i, .team-member:nth-child(4) .member-description > i{
	height: 200px;
}
.team-member:nth-child(5) .member-description > i, .team-member:nth-child(6) .member-description > i{
	height: 110px;
}
.member-description a h2 {
	margin-bottom: 0.5em;
	text-align: center;
}
.member-description .film-buttons{
	justify-content: center;
	justify-self: flex-end;
}

/* ------------------- Email Section ----------------- */

.email-section {
	width: 100%;
	margin-bottom: 100px;
}

.email-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	width: 40%;
	margin-right: auto;
	margin-left: auto;
}

.subscribe-form {
	width: 100%;
	margin-bottom: 25px;
	display: flex;
}
.name-and-email {
	width: 50%;
}
.email-text {
	width: 85%;
	resize: none;
	font-size: 14px;
	letter-spacing: 0.7px;
	border: 1px solid #fff4f4b6;
	background-color: transparent;
	padding: 15px;
	color: #fff;
	font-family: 'Epilogue', sans-serif;
	background-color: #151515a7;
	line-height: 1.5em;
}
input {
	width: 90%;
    padding: 15px;
	letter-spacing: 0.7px;
    transition: color 100ms ease-in-out;
    border: 1px solid #fff4f4b6;
    color: #fff4f4;
    background-color: transparent;
    font-family: 'Epilogue', sans-serif;
    font-size: 14px;
	margin-bottom: 20px;
	background-color: #151515a7;
}
.email-text:focus {
	border: 1px solid #ad2224;
	outline: none;
}
input:focus {
	border: 1px solid #ad2224;
	outline: none;
}
input::placeholder, .email-text::placeholder{
	color: #fff4f4b6;;
}
.email-button {
	width: 90%;
	cursor: pointer;
	height: 41px;
	border: none;
	background-color: #ad2224;
	color: #fff;
	font-size: 14px;
	letter-spacing: 1px;
	transition: all 200ms ease-in-out;
	font-family: 'Epilogue', sans-serif;
	
}
.email-button:hover {
	background-color: #cc2e31;
	box-shadow: 0px 0px 20px 2px rgba(173, 34, 36, 0.2);
}

.media-links-container{
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.social-button{
	width: fit-content;
    padding: 20px;
    transition: color 100ms ease-in-out;
    border: 1px solid #fff4f4;
	color: #fff4f4;
	background-color: transparent;
	font-family: 'Epilogue', sans-serif;
	font-size: 14px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
	letter-spacing: 2px;
	margin-right: 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
	text-decoration: none;
}

.social-button:hover{
	color: #ad2224;
	border: 1px solid #ad2224;
	box-shadow: 0px 0px 20px 2px rgba(173, 34, 36, 0.2);
}

footer{
	width: 100%;
	background-color: #151515a7;
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer-data{
	width: 70%;
	padding: 3rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

}
.footer-container{
	width: 33%;
	height: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 10px;
}
.footer-header{
	font-size: 26px;
	letter-spacing: 0.5px;
	color: #ad2224;
}
.footer-description{
	display: flex;
	flex-direction: row;
	line-height: 1.5rem;
	margin: 10px 0;
	font-size: 16px;
	letter-spacing: 0.5px;
	text-align: center;
}
.footer-button{
	color: #fff4f4;
	transition: all 150ms ease-in-out;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5px;
	text-decoration: none;
	border: 1px solid #fff4f4;
	height: 50px;
	width: 50px;
	border-radius: 50%;
}
.footer-button i{
	margin: 0;
	font-size: 20px;
}
.footer-button .fa-circle{
	margin-top: 2px;
	margin-left: -3px;
	font-size: 75%
}
.footer-button .fa-circle:nth-child(1){
	margin-left: 0px;
}
.footer-button:hover{
	color: #ad2224;
	border-color: #ad2224;
	box-shadow: 0px 0px 10px 2px rgba(173, 34, 36, 0.2);
}

/*-----------------------------------Hamburger button style-----------------------------------*/
.navbar__ham {
	position: absolute;
	top: 40%;
	right: 25px;
	width: 20px;
	height: 15px;
	transform: translateY(-50%);
	cursor: pointer;
	visibility: hidden;

}
#nav-icon3 {
	width: 25px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}
#nav-icon3 span {
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background: #fff4f4;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
	top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
	top: 6px;
}

#nav-icon3 span:nth-child(4) {
	top: 12px;
}

#nav-icon3.open span:nth-child(1) {
	top: 6px;
	width: 0%;
	left: 50%;
}

#nav-icon3.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
	top: 6px;
	width: 0%;
	left: 50%;
}
.rotate {
    position: absolute;
	left: 100%;
	top: 50%;
	padding: 40px 0;
	transform-origin: 0% 0%;
	-webkit-transform: rotate(90deg);
	  -moz-transform: rotate(90deg);
	  -o-transform: rotate(90deg);
	  -ms-transform: rotate(90deg);
	  transform: rotate(90deg) translateX(-50%);
  }



@media screen and (max-width: 1750px) {
	.screenplays, .members{
		width: 85%;
	}
	.screenplay{
		margin: 5% 3%; 
		width: 44%;
	}
	.hero-container{
		width: 60%;
	}
	.hero-link{
		font-size: 12px;
	}
	.hero-menu{
		padding: 20px 0;
	}
	.hero-title{
		font-size: 30px
	}
	.description{
		font-size: 18px;
	}
	.learn-more-button{
		padding: 15px;
		font-size: 14px;
	}
	.text-container{
		width: 60%;
		margin-left: 25px;
	}
	.footer-data{
		width: 80%;
	}
}

@media screen and (max-width: 1375px) {
	.hero-container{
		width: 80%;
	}
	.text-container{
		width: 70%;
		margin-left: 50px;
	}
	hr{
		width: 40px;
	}
	.film-info{
		width: 50%;
	}
	.screenplay .title{
		height: 90px;
	}
	.menu{
		padding: 25px 50px;
		font-size: 14px;
	}
	.nav-title{
		font-size: 18px;
	}
	.review-info{
		width: 90%;
	}
	.email-container{
		width: 60%;
	}
	.footer-data{
		width:	95%;
	}
	.footer-header{
		font-size: 20px;
	}
	.footer-button{
		height: 40px;
    	width: 40px;
	}
	.footer-button i{
		font-size: 16px;
		margin: 0 0 0 1px;
	}
	.footer-button .fa-circle {
		font-size: 55%;
		margin-left: -2px;
	}
	.footer-button .fa-circle:nth-child(1) {
		margin-left: 0px;
	}
	.team-member:nth-child(1) .member-description > i, .team-member:nth-child(2) .member-description > i{
		height: 170px;
	}
	.team-member:nth-child(3) .member-description > i, .team-member:nth-child(4) .member-description > i{
		height: 220px;
	}
	.team-member:nth-child(5) .member-description > i, .team-member:nth-child(6) .member-description > i{
		height: 120px;
	}
}

@media screen and (max-width: 1200px) {
	.team-member:nth-child(5) .member-description > p, .team-member:nth-child(6) .member-description > p{
		height: 60px;
	}
}

@media screen and (max-width: 1117px) {
	.screenplays .section-hr {
		margin-bottom: 100px;
	}
	.hero-container{
		width: 80%;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.image-container{
		width: 35%;
	}
	.text-container{
		width: 100%;
		margin-left: 0;
		margin-top: 30px;
		align-items: center;
	}
	.hero-logo{
		width: 100%;
	}
	.description{
		font-size: 18px;
	}
	
	.learn-more-button{
		font-size: 13px;
	}
	hr{
		width: 60px;
	}
	.film-info{
		width: 60%;
	}
	.film-info:nth-child(even){
		margin-left: 50px;
	}
	.film-info:nth-child(odd){
		margin-right: 50px;
	}
	.title{
		font-size: 30px;
	}
	.film-info .description{
		font-size: 17px;
	}
	.poster{
		height: auto;
	}
	.film-buttons{
		margin-top: 20px;
	}
	.film-button{
		padding: 15px;
		font-size: 14px;
	}
	.screenplay > .italic{
		height: auto !important;
	}
	.screenplay .title{
		height: auto;
	}
	.screenplays-container{
		margin-bottom: 0;
	}
	.screenplays, .members{
		width: 80%;
	}
	.screenplay{
		width: 100%;
		margin: 0 0 50px 0;
	}
	.team-member{
		width: 100%;
		margin: 0 0 70px 0;
	}
	.members .section-hr{
		margin-bottom: 70px;
	}
	.member-description{
		width: 75%;
	}
	.member-description > i{
		height: auto !important;
	}
	.member-description p{
		height: auto !important;
	}
	.nav-title{
		margin-right: 10px;
	}
	.menu-item-gap{
		margin-bottom: 150px !important;
	}
	/*Hambuger*/
	nav {
		z-index: 1000;

	}
	.menu {
		width: 100%;
		margin: 0;
		position: absolute;
		display: flex;
		flex-flow: column;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		top: -300px;
		transform: translateY(0);
		transition: 300ms ease-in-out;
		background-image:  linear-gradient(135deg, rgb(17, 17, 17) 25%, transparent 25%), linear-gradient(225deg, rgb(17, 17, 17) 25%, transparent 25%), linear-gradient(45deg, rgb(17, 17, 17) 25%, transparent 25%), linear-gradient(315deg, rgb(17, 17, 17) 25%, rgb(2, 2, 2) 25%);
		background-position:  5px 0, 5px 0, 0 0, 0 0;
		background-size: 5px 5px;
		background-repeat: repeat;
		z-index: 2;
	}
	.sub-menu {
		width: 100%;
		text-align: center;
	}
	.active-menu {
		top: 80px;
	}
	.navbar__ham {
		position: absolute;
		visibility: visible;
		z-index: 1010000;
	}
	.menu-item{
		text-align: center;
		width: 50%;
		position: relative;
		margin-bottom: 15px;
	}
	.company {
		height: 100%;
		width: 100%;
		z-index: 100000;
		display: flex;
		align-items: center;
		justify-content: center;
		background-image:  linear-gradient(135deg, rgb(17, 17, 17) 25%, transparent 25%), linear-gradient(225deg, rgb(17, 17, 17) 25%, transparent 25%), linear-gradient(45deg, rgb(17, 17, 17) 25%, transparent 25%), linear-gradient(315deg, rgb(17, 17, 17) 25%, rgb(2, 2, 2) 25%);
		background-position:  5px 0, 5px 0, 0 0, 0 0;
		background-size: 5px 5px;
		background-repeat: repeat;
	}
	.sub-menu{
		position: absolute;

	}
	.hide-sub{
		transition: all 0s;
	}

	.review-info{
		width: 100%;
	}
	.reviews{
		margin-bottom: 54px;
	}
	.email-container{
		width: 70%;
	}
	.footer-data{
		width: 100%;
		flex-direction: column;
	}
	.footer-container{
		margin: 10px 0;
		height: auto;
		width: 100%;
	}

	.fa-circle{
		font-size: 70%;
		margin-right: -3px;
	}

}
@media screen and (max-width: 750px) {
	.rotate {
		transform-origin: 0% 0%;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg) translateX(-50%) translateY(-100%);
	}
	.hero-menu{
		position: initial;
		padding: 0;
		margin-top: 50px;
	}
	.films .film{
		flex-direction: column;
		align-items: center;
	}
	.films .film:nth-last-child(1){
		margin-bottom: 40px;
	}
	.poster-container{
		max-width: 60%;
	}
	.film-info .description{
		font-size: 18px;
	}
	.title{
		font-size: 34px;
	}
	.film-info{
		width: 100%;
		margin: 50px 0 25px 0 !important;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.text-container .description{
		align-self: center;
	}
	.description{
		align-self: flex-start;
	}
	.films .film:nth-child(even){
		flex-direction: column-reverse;
	}
	.section-hr, .screenplays .section-hr{
		margin-bottom: 75px;
	}
	.review-text{
    	-webkit-line-clamp: 3;
	}
	.email-container{
		width: 80%;
	}
	.member-description{
		width: 90%;
	}
}

@media screen and (max-width: 600px) {  
	.poster-container{
		max-width: 70%;
	}
	.review-text{
    	-webkit-line-clamp: 5;
	}
	.subscribe-form{
		flex-direction: column-reverse;
	}
	.email-container{
		width: 75%;
	}
	.name-and-email{
		width: 100%;
	}
	input, .email-button, .email-text{
		width: 100%;
	}
	.email-text{
		margin-bottom: 20px;
		height: 100px;
	}
	.social-button{
		padding: 15px;
    	font-size: 14px;
	}
	.member-description .description{
		align-self: center;
		text-align: center;
	}
}

@media screen and (max-width: 500px) {	  
	.hero-container{
		width: 90%;
	}
	.image-container{
		width: 50%;
	}
	.text-container .description{
		font-size: 16px;
		margin: 1em 0;
	}
	.poster-container{
		max-width: 80%;
	}
	.reviews-container .film{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.review-text{
    	-webkit-line-clamp: 10;
	}
	.review-info{
		margin-left: 0;
		margin-top: 50px;
	}
	.social-button{
		font-size: 0;
		border-radius: 50%;
		height: 50px;
		width: 50px;
		padding: 0;
		align-items: center;
		justify-content: center;
		margin-right: 10px;
	}
	.social-button:nth-last-child(1){
		margin-right: 0;
	}
	.social-button i{
		font-size: 18px;
		margin-left: -10px;
	}
	.menu-item{
		width: 70%;
	}
	.menu-link{
		font-size: 16px;
	}
	.sub-link{
		font-size: 16px;
	}
	.menu-item-gap{
		margin-bottom: 140px !important;
	}
	.member-description{
		width: 90%;
	}
}

@media screen and (max-width: 400px) {	  
	.poster-container{
		max-width: 95%;
	}
	.film-info{
		width: 100%;
	}
	.hero-link{
		padding: 0 10px;
	}

	.film-buttons{
		flex-direction: column;
		width: 100%;
		margin-top: 15px;
	}
	.film-button{
		width: 100%;
		justify-content: center;
		margin-right: 0;
		margin-bottom: 10px;
	}
	.film-button:nth-child(even){
		margin-bottom: 0;
	}
}
@media screen and (max-width: 340px) {
	.poster-container{
		max-width: 100%;
	}
	.hero-menu{
		flex-direction: column;
		text-align: center;
		margin-top: 20px;
	}
	.hero-link{
		padding: 10px 0;
	}
	.hero{
		margin-top: 30px;
	}
}

@media screen and (max-height: 670px) {
	.hero{
		margin-top: 30px;
	}
	.image-container{
		width: 25%;
	}
	.hero-title {
		font-size: 24px;
	}
	.description {
		font-size: 16px;
	}
	.text-container{
		margin-top: 10px;
	}
	.hero-link{
		font-size: 11px;
		padding: 0 7px;
	}
}

@media screen and (max-height: 530px){
	.hero{
		margin-top: 35px;
	}
	.company{
		padding: 10px 50px;
	}
	.image-container{
		width: 20%;
	}
	.text-container{
		margin-top: 5px;
	}
	.hero-title {
		margin-bottom: 0.5em;
	}
	.description {
		margin: 1em 0;
	}
	.rotate{
		top: 60%
	}
	.hero-link{
		font-size: 10px;
		padding: 0 5px;
	}
	.learn-more-button{
		font-size: 12px;
		padding: 13px;
	}
	
}
@media screen and (max-height: 430px) and (max-width: 1750px){
	.hero{
		margin-top: 50px;
	}
	.image-container{
		width: 10%;
	}
}